flows.json
[{"id":"82a4076a.2f1228","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7aced2a1.20ca4c","type":"ibmiot in","z":"82a4076a.2f1228","authentication":"apiKey","apiKey":"484273ba.9ff55c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Sagarjillela","applicationId":"","deviceType":"sagar","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":240,"wires":[["932bb8a2.c4bf28","18c8dda6.84b9c2"]]},{"id":"932bb8a2.c4bf28","type":"function","z":"82a4076a.2f1228","name":"sunlight","func":"global.set('I',msg.payload.d.sunlight)\nmsg.payload = msg.payload.d.sunlight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":240,"wires":[["d5fd4df7.2089d"]]},{"id":"d5fd4df7.2089d","type":"ui_chart","z":"82a4076a.2f1228","name":"","group":"37910da4.2b8602","order":0,"width":0,"height":0,"label":"sunlight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":240,"wires":[[]]},{"id":"1af513.e15c1aed","type":"http in","z":"82a4076a.2f1228","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":300,"y":300,"wires":[["70ec5fbe.2a169"]]},{"id":"4f45b334.9fa3dc","type":"http response","z":"82a4076a.2f1228","name":"","statusCode":"","headers":{},"x":790,"y":300,"wires":[]},{"id":"70ec5fbe.2a169","type":"function","z":"82a4076a.2f1228","name":"","func":"msg.payload = {\n    \"sunlight\" : global.get('I'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["4f45b334.9fa3dc"]]},{"id":"c3e07c75.63007","type":"ui_button","z":"82a4076a.2f1228","name":"","group":"37910da4.2b8602","order":1,"width":0,"height":0,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightOFF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":570,"y":440,"wires":[["98d55916.311858","634b29d8.33a378"]]},{"id":"98d55916.311858","type":"ibmiot out","z":"82a4076a.2f1228","authentication":"apiKey","apiKey":"484273ba.9ff55c","outputType":"cmd","deviceId":"Sagarjillela","deviceType":"sagar","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":520,"wires":[]},{"id":"567f2417.2a406c","type":"ui_button","z":"82a4076a.2f1228","name":"","group":"37910da4.2b8602","order":2,"width":0,"height":0,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":570,"y":380,"wires":[["98d55916.311858","634b29d8.33a378"]]},{"id":"dea00d28.1ed06","type":"http in","z":"82a4076a.2f1228","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":300,"y":520,"wires":[["b4959738.26d878","98d55916.311858","634b29d8.33a378"]]},{"id":"b4959738.26d878","type":"http response","z":"82a4076a.2f1228","name":"","statusCode":"","headers":{},"x":710,"y":600,"wires":[]},{"id":"18c8dda6.84b9c2","type":"debug","z":"82a4076a.2f1228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"634b29d8.33a378","type":"debug","z":"82a4076a.2f1228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":480,"wires":[]},{"id":"484273ba.9ff55c","type":"ibmiot","name":"intelligent street light","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"37910da4.2b8602","type":"ui_group","name":"sensor data","tab":"ed073c12.ef946","order":1,"disp":true,"width":13,"collapse":false},{"id":"ed073c12.ef946","type":"ui_tab","name":"intelligent street lights","icon":"dashboard","disabled":false,"hidden":false}]